*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}
.main_gym {
    background-color: black;
}
.titulo {
    display: block;
    text-align:center;
    color:white;
    text-transform: uppercase;
}
