{% extends 'AppGym/navegacion.html'%}

{% block content %}

<div class="container mt-5">
    <h2> Indique el nombre que quiere buscar</h2>
</div>
<form action="/busquedaCliente/" method="POST">{% csrf_token %}
    <div class="container">
        <p>Código del Cliente: <br>
            <input type="text" name="codigo" id="codigo">
        </p>
        <p>Nombre del Cliente: <br>
            <input type="text" name="nombre" id="nombre">
        </p>
        <p>Telefono del Cliente: <br>
            <input type="text" name="phone" id="phone">
        </p>
        <input type="submit" value="Buscar el cliente">
    </div>
</form>

{% endblock %}