<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h3>Ingresar Datos</h3>
    <form action="/AppGym/FormularioCliente/" method="POST">{% csrf_token %}
        <div class="mb-3">
            <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="Codigo de tu rutina" aria-label="Codigo de tu rutina" aria-describedby="basic-addon1">    
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tipo de Rutina" aria-label="Tipo de Rutina" aria-describedby="basic-addon1">    
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ubicacion" aria-label="Ubicacion" aria-describedby="basic-addon1">    
            </div>
            
            <div class="mb-3">
                <label for="Textarea1" class="form-label">Rutina</label>
                <textarea class="form-control" id="Textarea1" rows="3"></textarea>
              </div>

              <input type="submit" value="Enviar">
          </div>


    </form>
</body>
</html>